.table-container {
  margin-top: 20px;
}

.add-btn-container {
  margin-top: 20px;
}

.row-reverse {
  flex-direction: row-reverse;
}

.mr-20 {
  margin-right: 20px;
}

mat-header-cell {
  color: black;
  font-weight: bolder;
}

.btn-delete {
  color: #cd1d0f;
}

.number-column {
  max-width: 180px !important;
}

.is-parent-column {
  max-width: 50px !important;
}

.actions-column {
  max-width: 150px !important;
}

